#index
  %h1 Nigel
  #content
    #div_start
      %button#start_button{:onclick => "startButton(event)"}
        %img#start_img{:alt => "Speak", :src => ""}/
    #results
      .final
      .interim
    %ul#tasks
      - if @tasks
        - @tasks.each do |task|
          %li.task{data: { action: task[:action] } }
            %p.source= task[:source]
            %p.content= task[:content]
      - if current_user
        %li.new= link_to "New Task",  new_user_task_path(current_user)

