#index
  %h1 Nigel
  .content
    %h2 Feed
    %ul#tasks
      - if @tasks
        - @tasks.each do |task|
          %li.task
            %p
              = task[:source]
              = ':'
              = task[:content]
      - if current_user
        %li#new= link_to "New Task",  new_user_task_path(current_user)
