// Place all the styles related to the mainframe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
}
h1 {
  background: black;
  color: white;
  height: 40px;
  text-align: center;
  padding: 20px;
}

.content {
  width: 75%;
  border: 1px solid black;
  height: 400px;
  text-align: center;
  margin: 0 auto;
}

.task {
  width: 93%;
  margin: 0 auto;
  height: 60px;
  padding: 10px 0;
}

.task:hover {
  background: gray;
}

#new {
  padding: 10px 0;
  color: white;
  width: 10%;
  margin: auto;
}

#new:hover {
  background: gray;
}
