// Place all the styles related to the mainframe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
}
h1 {
  height: 40px;
  text-align: center;
  padding: 20px;
}

.navbar {
  color: white;
}

.navbar strong {
  margin-left: 10px;
}

.navbar .nav a {
}

#content {
  width: 75%;
  min-height: 400px;
  text-align: center;
  margin: 0 auto;
}

li.tasks {
}

.task {
  width: 90%;
  margin: 0 auto;
  min-height: 60px;
  padding: 10px 10px;
}

li.task:hover {
  background: gray;
}

.task p.source {
  float: left;
  margin-right: 15px;
}

.task p.content {
  float: left;
  color: #660033;
  font-weight: bold;
}

.task p {
  border-radius: 5px;
  text-align: center;
  font-family: Verdana, Arial, Sans-Serif;
  opacity: 0.8;
}
